<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Glimpse UI | Buttons</title>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/variables.css" />
    <link rel="stylesheet" href="/css/utilities.css" />
    <link rel="stylesheet" href="/documentation/documentation.css" />
    <link rel="stylesheet" href="button.css" />
    <link rel="stylesheet" href="button-docs.css" />

    <script
      src="https://kit.fontawesome.com/3f863ebf82.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <!-- Top nav starts -->

    <nav class="top-navbar">
      <div class="top-nav-brand">
        <a href="../../index.html">
          <img src="/images/logo.png" alt="brand-logo" />
        </a>
        <a href="../../index.html" class="brand-name">Glimpse</a>
      </div>

      <ul class="top-nav-items">
        <li class="inline-list">
          <a href="https://github.com/kirandebnath81/GlimpseUI" target="_blank">
            <i class="fa-brands fa-github"></i>
          </a>
        </li>
        <li class="inline-list menu-icon-box">
          <i id="menu-icon" class="fa-bars fa-solid"></i>
        </li>
      </ul>
    </nav>

    <!-- Top nav ends -->

    <!-- Main component starts -->

    <main>
      <!-- Side nav start -->
      <nav id="menu" class="side-navbar">
        <ul class="side-nav-items">
          <li class="title">Get Started</li>
          <li>
            <a href="../introduction/introduction.html">Installation</a>
          </li>
          <li>
            <a href="../colors-docs/colors.html">Colors</a>
          </li>
          <li>
            <a href="../typography-docs/typography.html">Typography</a>
          </li>
          <li class="title">Component</li>
          <li>
            <a href="../alert/alert.html">Alert</a>
          </li>
          <li>
            <a href="../avatar/avatar.html">Avatar</a>
          </li>
          <li>
            <a href="../badge/badge.html">Badge</a>
          </li>
          <li>
            <a href="" class="active">Button</a>
          </li>
          <li>
            <a href="../card/card.html">Card</a>
          </li>
          <li>
            <a href="../grid/grid.html">Grid</a>
          </li>
          <li>
            <a href="../imageComponent/imageComponent.html">images</a>
          </li>
          <li>
            <a href="../input/input.html">Input</a>
          </li>
          <li>
            <a href="../lists/lists.html">Lists</a>
          </li>
          <li>
            <a href="../modal/modal.html">Modal</a>
          </li>
          <li>
            <a href="../navigation/navigation.html">Navigation</a>
          </li>
          <li>
            <a href="../rating/rating.html">Rating</a>
          </li>
          <li>
            <a href="../slider/slider.html">Slider</a>
          </li>
          <li>
            <a href="../toast/toast.html">Toast</a>
          </li>
        </ul>
      </nav>
      <!-- Side nav ends -->

      <!--  Body section starts -->

      <section class="component-body">
        <!-- Header starts -->

        <div class="body-header divider">
          <h2 class="fw-600">Buttons</h2>
          <p class="body-para">
            Buttons are one of the most useful components in any Web
            Application. Glimpse UI provides different types of buttons
            supporting multiple sizes, colors and many more.
          </p>
        </div>

        <!-- Header ends -->

        <!-- Solid buttons starts -->

        <div class="body-section">
          <h3 class="fw-600">Solid Buttons</h3>
          <p class="body-para">
            Create a solid button using
            <span class="text-highlight">"btn"</span> class.
          </p>
          <p class="body-para">
            Additionally use classes such as
            <span class="text-highlight">"btn-primary"</span>,
            <span class="text-highlight">"btn-secondary"</span>,
            <span class="text-highlight">"btn-success"</span>,
            <span class="text-highlight">"btn-warn"</span>,
            <span class="text-highlight">"btn-danger"</span>,
            <span class="text-highlight">"btn-dark"</span>, for creating
            different buttons.
          </p>

          <div class="component-container">
            <button class="btn btn-primary">Primary</button>
            <button class="btn btn-secondary">Secondary</button>
            <button class="btn btn-success">Success</button>
            <button class="btn btn-warn">Warn</button>
            <button class="btn btn-danger">Danger</button>
            <button class="btn btn-dark">Dark</button>
          </div>
          <iframe
            src="https://carbon.now.sh/embed?bg=rgba%2823%2C24%2C24%2C1%29&t=seti&wt=none&l=htmlmixed&width=531&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=3px&ph=0px&ln=false&fl=1&fm=Hack&fs=13.5px&lh=141%25&si=false&es=2x&wm=false&code=%253Cbutton%2520class%253D%2522btn%2520btn-primary%2522%253EPrimary%253C%252Fbutton%253E%250A%250A%253Cbutton%2520class%253D%2522btn%2520btn-secondary%2522%253ESecondary%253C%252Fbutton%253E%250A%250A%253Cbutton%2520class%253D%2522btn%2520btn-dark%2522%253EDark%253C%252Fbutton%253E%250A%250A%253Cbutton%2520class%253D%2522btn%2520btn-danger%2522%253EDanger%253C%252Fbutton%253E%250A%250A%253Cbutton%2520class%253D%2522btn%2520btn-success%2522%253ESuccess%253C%252Fbutton%253E%250A%250A%253Cbutton%2520class%253D%2522btn%2520btn-warn%2522%253EWarn%253C%252Fbutton%253E%250A%2520"
            style="height: 220px"
            sandbox="allow-scripts allow-same-origin"
          >
          </iframe>
        </div>
        <!-- Solid buttons ends -->

        <!-- Outline button starts -->

        <div class="body-section">
          <h3 class="fw-600">Outline Buttons</h3>
          <p class="body-para">
            Create a outline button just by using
            <span class="text-highlight">"btn-outline"</span> class along with
            specific solid buttons classes.
          </p>
          <div class="component-container">
            <button class="btn btn-primary btn-outline">Primary</button>
            <button class="btn btn-secondary btn-outline">Secondary</button>
            <button class="btn btn-success btn-outline">Success</button>
            <button class="btn btn-warn btn-outline">Warn</button>
            <button class="btn btn-danger btn-outline">Danger</button>
            <button class="btn btn-dark btn-outline">Dark</button>
          </div>
          <iframe
            src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=htmlmixed&width=532&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cbutton%2520class%253D%2522btn%2520btn-primary%2520btn-outline%2522%253EPrimary%253C%252Fbutton%253E%250A%250A%253Cbutton%2520class%253D%2522btn%2520btn-secondary%2520btn-outline%2522%253ESecondary%253C%252Fbutton%253E%250A%250A%253Cbutton%2520class%253D%2522btn%2520btn-dark%2520btn-outline%2522%253EDark%253C%252Fbutton%253E%250A%250A%253Cbutton%2520class%253D%2522btn%2520btn-danger%2520btn-outline%2522%253EDanger%253C%252Fbutton%253E%250A%250A%253Cbutton%2520class%253D%2522btn%2520btn-success%2520btn-outline%2522%253ESuccess%253C%252Fbutton%253E%250A%250A%253Cbutton%2520class%253D%2522btn%2520btn-warn%2520btn-outline%2522%253EWarn%253C%252Fbutton%253E"
            style="height: 220px"
            sandbox="allow-scripts allow-same-origin"
          >
          </iframe>
        </div>
        <!-- Outline buttons ends -->

        <!-- Link,icon,disabled buttons starts -->

        <div class="body-section">
          <h3 class="fw-600">Link, Icon, Disabled Buttons</h3>
          <p class="body-para">
            For creating link button add all the button classes in
            <span class="text-highlight">&lt;a&gt;</span> tag.
          </p>
          <p class="body-para">
            For creating icon button use
            <span class="text-highlight">"btn-icon"</span> class.
          </p>
          <p class="body-para">
            Use HTML <span class="text-highlight">"disabled"</span> attribute to
            create a disabled button.
          </p>
          <div class="component-container">
            <a href="#" class="btn btn-primary">Link</a>

            <button class="btn btn-danger btn-icon">
              <span>Delete</span>
              <i class="fas fa-trash"></i>
            </button>

            <button class="btn btn-primary" disabled>Disabled</button>
          </div>
          <iframe
            src="https://carbon.now.sh/embed?bg=rgba%2823%2C24%2C24%2C1%29&t=seti&wt=none&l=htmlmixed&width=502.5&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=3px&ph=0px&ln=false&fl=1&fm=Hack&fs=13.5px&lh=141%25&si=false&es=2x&wm=false&code=%253Ca%2520href%253D%2522%2523%2522%2520class%253D%2522btn%2520btn-primary%2522%253ELink%253C%252Fa%253E%2520%250A%250A%253Cbutton%2520class%253D%2522btn%2520btn-danger%2520btn-icon%2522%253E%250A%2520%2520%253Cspan%253EDelete%253C%252Fspan%253E%250A%2520%2520%253Ci%2520class%253D%2522fas%2520fa-trash%2522%253E%253C%252Fi%253E%250A%253C%252Fbutton%253E%250A%250A%253Cbutton%2520class%253D%2522btn%2520btn-primary%2522%2520disabled%253EDisabled%253C%252Fbutton%253E%250A"
            style="height: 220px"
            sandbox="allow-scripts allow-same-origin"
          >
          </iframe>
        </div>
        <!-- Link,icon,disabled buttons ends -->

        <!-- Floating Icon buttons starts -->
        <div class="body-section">
          <h3 class="fw-600">Floating Icon Buttons</h3>
          <p class="body-para">
            To create floating icon buttons use
            <span class="text-highlight">"btn-floating"</span> class.
          </p>
          <div class="component-container">
            <button class="btn btn-primary btn-floating">
              <i class="fas fa-arrow-up"></i>
            </button>
            <button class="btn btn-primary btn-floating">
              <i class="fas fa-arrow-down"></i>
            </button>
            <button class="btn btn-primary btn-outline btn-floating">
              <i class="fas fa-plus"></i>
            </button>
          </div>
          <iframe
            src="https://carbon.now.sh/embed?bg=rgba%2823%2C24%2C24%2C1%29&t=seti&wt=none&l=htmlmixed&width=502.5&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=3px&ph=0px&ln=false&fl=1&fm=Hack&fs=13.5px&lh=141%25&si=false&es=2x&wm=false&code=%253Cbutton%2520class%253D%2522btn%2520btn-primary%2520btn-floating%2522%253E%250A%2520%2520%253Ci%2520class%253D%2522fas%2520fa-arrow-up%2522%253E%253C%252Fi%253E%250A%253C%252Fbutton%253E%250A%250A%253Cbutton%2520class%253D%2522btn%2520btn-primary%2520btn-floating%2522%253E%250A%2520%2520%253Ci%2520class%253D%2522fas%2520fa-arrow-down%2522%253E%253C%252Fi%253E%250A%253C%252Fbutton%253E%250A%250A%253Cbutton%2520class%253D%2522btn%2520btn-primary%2520btn-outline%2520btn-floating%2522%253E%250A%2520%2520%253Ci%2520class%253D%2522fas%2520fa-plus%2522%253E%253C%252Fi%253E%250A%253C%252Fbutton%253E"
            style="height: 220px"
            sandbox="allow-scripts allow-same-origin"
          >
          </iframe>
        </div>
        <!-- Floating Icon buttons ends -->

        <!-- Different sizes buttons starts -->
        <div class="body-section">
          <h3 class="fw-600">Different sizes of Buttons</h3>
          <p class="body-para">
            There are three different sizes of buttons. Use
            <span class="text-highlight">"btn-sm"</span>,
            <span class="text-highlight">"btn-md"</span>,
            <span class="text-highlight">"btn-lg"</span>, classes to get small,
            medium and large sized buttons respectively.
          </p>
          <div class="component-container">
            <button class="btn btn-primary btn-sm">Small</button>
            <button class="btn btn-primary btn-md">Medium</button>
            <button class="btn btn-primary btn-lg">Large</button>
          </div>
          <iframe
            src="https://carbon.now.sh/embed?bg=rgba%2823%2C24%2C24%2C1%29&t=seti&wt=none&l=htmlmixed&width=479&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=3px&ph=0px&ln=false&fl=1&fm=Hack&fs=13.5px&lh=141%25&si=false&es=2x&wm=false&code=%253Cbutton%2520class%253D%2522btn%2520btn-primary%2520btn-sm%2522%253ESmall%253C%252Fbutton%253E%250A%250A%253Cbutton%2520class%253D%2522btn%2520btn-primary%2520btn-md%2522%253EMedium%253C%252Fbutton%253E%250A%250A%253Cbutton%2520class%253D%2522btn%2520btn-primary%2520btn-lg%2522%253ELarge%253C%252Fbutton%253E"
            style="height: 180px"
            sandbox="allow-scripts allow-same-origin"
          >
          </iframe>
        </div>

        <!-- Different sizes buttons ends -->

        <!-- Link to next component starts -->

        <div class="body-link">
          <a href="../badge/badge.html" class="link">
            <i class="fa-solid fa-backward"></i>
            <span class="mr-xs">Badge</span>
          </a>
          <a href="../card/card.html" class="link">
            <span class="mr-xs">Card</span>
            <i class="fa-sharp fa-solid fa-forward"></i>
          </a>
        </div>
        <!-- Link to next component ends -->

        <!-- Component Footer starts -->

        <footer class="main-footer">
          <ul class="footer-links">
            <li>
              <a href="https://github.com/kirandebnath81" target="_blank">
                <i class="fa-brands fa-github"></i>
              </a>
            </li>
            <li>
              <a
                href="https://www.linkedin.com/in/kiran-debnath-2299601bb/"
                target="_blank"
              >
                <i class="fab fa-linkedin"></i>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/KiranDebnath20" target="_blank">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
          </ul>
          <div class="copyright text-align-center">
            <i class="far fa-copyright"></i> 2022 Kiran Debnath. All Rights
            Reserved
          </div>
        </footer>
        <!-- Component Footer ends -->
      </section>
      <!--  Body section ends -->
    </main>

    <script src="/documentation/documentation.js"></script>
  </body>
</html>
